@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
  .magenta {
    --magenta: #ff1867;
  }

  .electric-blue {
    --electric-blue: #00d1dc;
  }
  .lime {
    --lime: #00ff3c;
  }
  .purp {
    --purp: #be5cff;
  }
  .mint {
    --color: #66d184;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  main,
  nav {
    @apply max-w-6xl mx-auto my-12;
  }

  p {
    @apply mt-2;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight
  transition-colors first:mt-0;
  }
}
* {
  transition: 0.2s ease;
}
.h1-tag {
  color: #cfff04;
  /* border: 1px solid #fff; */
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  padding-left: 15px;
  /* transition: 0.5s ease; */
  box-shadow: 0 0 1px #cfff04, 0 0 2px #cfff04, 0 0 2px #cfff04, 0 0 2px #cfff04,
    0 0 2px #cfff04, 0 0 4px #cfff04, 0 0 5px #cfff04;
  /* box-shadow: rgba(207, 255, 4, 0.5) 0px 5px 10px -5px; */

  letter-spacing: 9px;
  /* text-shadow: 1px 1px 2px #cfff04, 0px -1px 3px rgba(255, 255, 255, 0.3); */
}

.bars {
  width: 420px;
  /* transition: 0.1s ease-in-out; */
}

@media (min-width: 600px) {
  .bars {
    width: 600px;
  }
}

@media (min-width: 800px) {
  .bars {
    width: 700px;
  }
}

/* iPhone SE 1st Generation */
@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
  /* Your CSS */
}

/* iPhone SE 2nd Generation */
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .bars {
    width: 320px;
    font-size: 2px;
  }
  .h1-tag {
    margin-right: 20px;
  }
}
